html,
body {
  background-color: rgb(29, 31, 31);
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;

}

#nav-bar {
  background-color: rgb(234, 118, 22);
  padding: 25px;
}

#submit-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.unit-temps-buttons {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.unit-temps-buttons:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}




#city-input {
  width: 20%;
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}






#display-temp {
  font-size: 7.5vw;
  text-align: center;
  color: white;

}


.display-info {
  justify-content: center;
  display: flex;
  color: white;
}

.display-info>* {
  padding: 10px;
  color: white;
}

#display-current-conditions {
  width: 200px;
  height: 150px;
  margin: 5px auto;
}

.forecast-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.forecast-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal forecast when you move the mouse over the forecast box container */
.forecast-card:hover .forecast-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.forecast-card-front,
.forecast-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border: 1px solid white;
}

/* Style the front side (fallback if image is missing) */
.forecast-card-front {
  background-color: rgb(29, 31, 31);
  color: white;
}

/* Style the back side */
.forecast-card-back {
  background-color: rgb(29, 31, 31);
  color: white;
  transform: rotateY(180deg);
}

.hourly-card {
  text-align: center;
  flex: 0 0 auto;


}

.hourly-card>* {
  background-color: rgba(255, 255, 255);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: inline-block;
  padding: 25px;
  margin: 5px;
}

#display-hourly {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


@media (max-width: 650px) {
  #display-city-name {
    text-align: center;
    padding-bottom: 15px;
  }



  #city-input {
    width: 25%
  }



  #week-header {
    text-align: center;
  }

  #display-forecast {
    text-align: center;
  }


  .unit-temps {
    padding: 0.25em 0.75em;
  }

  .display-info {
    display: block;
  }
}